.about-me {


    &__title {
        font-size: 1.45rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        text-transform: capitalize;
        text-align: center;
        color: #333;

        @mixin atMedium {
            font-size: 4.5rem;
            text-align: right;
            margin-top: 0rem;
            margin-bottom: 2.5rem;
        }
    }
}