.my-work {
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387); 
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); 

    &--img {
        width:350px;
        height: auto;
    }

    &--container {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        /* display: inline-block;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        text-align: center; */
    }

    &--image-container {
        margin-bottom: 2rem;
    }

    &--title {
        text-align: center;
        padding-bottom: 0;
        margin-top: 0rem;
        margin-bottom: 3rem;
        font-size: 3.5rem;

        @mixin atMedium {
            font-size: 4.5rem;
        }
    }

 
}