.row {
    position: relative;
    @mixn clearfix;

    &--gutter > div {
        padding-right: 65px;
    }

    &--gutter {
        margin-right: -65px;
    }

    &--4 {
        margin-bottom: 5rem;
    }

    &--4:last-child {
        margin-bottom: 0;
    }

    @mixin atMedium {
        &--4 {
            float: left;
            width: 33.33%;
        }
    
        &--8 {
            float: left;
            width: 66.66%;
        }


    }
   
}